<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="System.Xml.dll" #>  
<#@ import namespace="System.Xml" #>  
<#@ import namespace="System.IO" #>  
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".txt" #>
  <# 
	 var filename = this.Host.ResolvePath("propertyList.txt");
	 var properties = File.ReadLines(filename);
  #>  
  <# foreach (string propertyName in properties) { #>  
	The name of <#= propertyName #>
  <# } #>  
