<#@ template debug="true" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".txt" #>

Hello, world!  11122
<#int top = 10;
for(int i = 0;i<=top;i++)
{ #>
	The square of <#= i #> is <#= i*i #>
<# }#> 