@using AutoMapperWeb.Models.Dto
@{
    ViewBag.Title = "AutoMappeTemp1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  OrderDto

@ViewBag.Tips

<ul>

    <li>标题:@Model.CustomerName </li>

    <li>作者:@Model.Total </li>

</ul>

