@using AutoMapperWeb.Models

@*@model  ProductDTO*@
@model  BookViewModel

@ViewBag.Tips

<ul>

    @*<li>商品名称:@Model.Name</li>

    <li>商品数量:@Model.Amount</li>*@

    <li>标题:@Model.Title </li>

    <li>作者:@Model.Author </li>

</ul>